@charset "UTF-8"

@import "../../../../_import.sass"

$pad: 24px

/*--------------------------------------------------- */
/* ベースのレイアウト
/*--------------------------------------------------- */
.lineFlex
	display: flex
	justify-content: space-between
	.lineFlexLeft
		width: 190px
	.lineFlexRight
		width: calc(100% - 210px)
@include tab
	.lineFlex
		flex-wrap: wrap
		.lineFlexLeft
			width: 100%
			order: 2
		.lineFlexRight
			width: 100%
			order: 1
			margin-bottom: 80px
/*--------------------------------------------------- */
/* 
/*--------------------------------------------------- */
.line_customer
	.heading
		padding-bottom: 16px
		padding-top: 16px
		font-weight: 700
		border-bottom: 1px dotted #aaa
	ul
		margin-top: 16px
		li
			padding: 0 0 8px
			.link
				position: relative
				padding-left: 0.8em
				&:before
					content: ""
					width: 0
					height: 0
					border-style: solid
					border-width: 3px 0 3px 5.2px
					border-color: transparent transparent transparent #000
					position: absolute
					top: 0
					left: 0
					bottom: 0
					margin: auto
			.new_message
				@include rem(12)
				color: red
				margin-left: 4px

/*--------------------------------------------------- */
/* 
/*--------------------------------------------------- */
.line_message
	background-color: transparent
	>div
		background-color: #fff
	.headingWrap
		display: flex
		padding: $pad
		align-items: center
		justify-content: space-between
		position: relative
		&:after
			content: ""
			content: ""
			border-bottom: 1px solid #cecece
			width: calc(100%)
			height: 1px
			position: absolute
			left: 0
			right: 0
			bottom: 0
			/* style */
		.title
			width: calc(100% - 220px)
			@include rem(20)
			font-weight: 700
		.details
			width: 200px
			.detailBtn
				margin-left: auto
		.customerBtn
			a,a:visited
				$bgcolor: #000
				position: relative
				color: $bgcolor
				background-color: #fff
				border: 1px solid $bgcolor
				padding: 8px 12px
				@include rem(12)
				line-height: 1em
				display: flex
				max-width: fit-content
				justify-content: center
				align-items: center
				margin-left: auto
				position: relative
	
				@include tabup
					&:hover
						background-color: $bgcolor
						color: #fff
						border: 1px solid $bgcolor
						transition-duration: 0.5s
	.messageBlock
		height: 300px
		overflow-y: scroll
		padding-top: $pad
		&::-webkit-scrollbar 
			width: 10px
		&::-webkit-scrollbar-thumb 
			background-color: #000
			border-radius: 5px
		&::-webkit-scrollbar-track 
			background-color: #ccc
			border-radius: 5px

	.messageWrap
		margin-bottom: 48px
			
		.flexMessge
			display: flex
			justify-content: space-between
			width: 80%
			.imgFlex
				width: 70px
				height: 70px
				background-color: #aaa
				border-radius: 50%
			.textFlex

				width: calc(100% - 86px)
			.headingBlock
				display: flex
				@include rem(14)
				.name
					font-weight: 700
				.time
					margin-left: 8px
			.content
				margin-top: 4px
				background-color: #f3f3f3
				border-radius: 10px
				padding: 12px 16px
				line-height: 1.5em
				width: fit-content
				@include rem(16)
				position: relative
				&:before
					content: ""
					width: 0
					height: 0
					border-style: solid
					border-width: 6px 10.4px 6px 0
					border-color: transparent #f3f3f3 transparent transparent
					position: absolute
					top: 10px
					left: -10px
					margin: auto
		.rightMessage
			margin-left: auto
			margin-right: 32px
			justify-content: flex-end
			.headingBlock
				justify-content: flex-end
				padding-right: 8px
				// .name
				// 	order: 2
				// .time
				// 	order: 1
			.content
				margin-left: auto
				&:before
					display: none


	// .send_common_block
	// 	.heading
	// 		margin-bottom: 8px
	// 		display: flex
	// 		align-items: center
	// 	.title
	// 		font-weight: 700
	// 		margin-right: 8px
	// 	textarea
	// 		height: 150px	

	// 	.heading_block
	// 		background-color: #ccc
	// 		padding: 12px $pad
	// 		@include rem(20)
	// 		font-weight: 700
	// 	.wrap
	// 		padding: $pad
	// 	.btnFlex
	// 		display: flex
	// 		justify-content: center
	// 	.delete_wrap
	// 		margin-left: 16px
	// 		button
	// 			$bgcolor: #c30000
	// 			position: relative
	// 			color: #fff
	// 			background-color: $bgcolor
	// 			border: 1px solid $bgcolor
	// 			padding: 12px 16px
	// 			line-height: 1em
	// 			display: flex
	// 			margin: 16px auto 0
	// 			justify-content: center
	// 			align-items: center
	// 			@include tabup
	// 				&:hover
	// 					background-color: #fff
	// 					color: $bgcolor
	// 					border: 1px solid $bgcolor
	// 					transition-duration: 0.5s
		.send_wrap
			.notice
				text-align: center
				margin-top: 8px
				span
					color: red

			button
				$bgcolor: #000
				position: relative
				color: #fff
				background-color: $bgcolor
				border: 1px solid $bgcolor
				padding: 12px 16px
				line-height: 1em
				display: flex
				margin: 16px auto 0
				justify-content: center
				align-items: center
				@include tabup
					&:hover
						background-color: #fff
						color: $bgcolor
						border: 1px solid $bgcolor
						transition-duration: 0.5s
	.send_message_request
		border-top: 1px solid #aaa
		padding: $pad

			
	.send_message_block
		margin-top: 48px
	.customer_block
		margin-top: 48px
		.customerBtnWrap
			button
				$bgcolor: $color-main	
				position: relative
				color: #fff
				background-color: $bgcolor
				border: 1px solid $bgcolor
				padding: 12px 16px
				line-height: 1em
				display: flex
				justify-content: center
				align-items: center
				margin: auto

				@include tabup
					&:hover
						background-color: #fff
						color: $bgcolor
						border: 1px solid $bgcolor
						transition-duration: 0.5s
		
		