laravel/node_modules/
laravel/vendor/
laravel/.env
laravel/ngrok.bat
laravel/public/test/return.txt
laravel/public/test/return.txt
laravel/composer.lock
laravel/composer.lock
laravel/public/test/return.txt
laravel/bk-composer.lock
laravel/public/test/return.txt
