@font-face {
  font-family: 'rodinb';
  font-display: swap;
  src: url("/common/font/rodin-b.woff") format("woff"), url("/common/font/rodin-b.otf") format("truetype"); }

@media (min-width: 769px) {
  .listSection .flexWrap .wid30 {
    width: 30px; }
  .listSection .flexWrap .wid50 {
    width: 50px; }
  .listSection .flexWrap .wid100 {
    width: 100px; }
  .listSection .flexWrap .wid40 {
    width: 40px; }
  .listSection .flexWrap .wid60 {
    width: 60px; }
  .listSection .flexWrap .wid80 {
    width: 80px; }
  .listSection .flexWrap .wid200 {
    width: 200px; }
  .listSection .flexWrap .wid250 {
    width: 250px; } }

.listSection {
  margin-top: 48px; }
  .listSection [type="text"] {
    height: 100%; }
  .listSection .longtext {
    overflow: scroll;
    max-height: 100px; }
  .listSection .flexHead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .listSection .flexHead > div {
      background-color: #ddd;
      border-top: 1px solid #aaa; }
  .listSection .flexBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .listSection .flexWrap > div {
    padding: 8px 12px;
    border: 1px solid #aaa;
    margin-top: -1px;
    margin-left: -1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.2em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .listSection .flexWrap > div:nth-of-type(1) {
      margin-left: 0;
      /* style */ }
  .listSection .flexWrap6 .no1, .listSection .flexWrap6 .no2, .listSection .flexWrap6 .no3, .listSection .flexWrap6 .no4, .listSection .flexWrap6 .no5, .listSection .flexWrap6 .no6 {
    width: 18%; }
  .listSection .flexWrap7 > div {
    width: 17%; }
    .listSection .flexWrap7 > div:nth-of-type(1) {
      /* style */
      width: 10%; }
    .listSection .flexWrap7 > div:nth-last-of-type(1), .listSection .flexWrap7 > div:nth-last-of-type(2) {
      width: 10%; }
  .listSection .editBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    word-break: break-all;
    text-decoration: none;
    background: #1B8EE4;
    text-align: center;
    border: 1px solid #1B8EE4;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 100%;
    max-width: initial; }
    @media (min-width: 769px) {
      .listSection .editBtn:hover {
        background: #fff;
        color: #1B8EE4;
        border: 1px solid #1B8EE4;
        -webkit-box-shadow: none;
        box-shadow: none; } }
  .listSection .deleteBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    word-break: break-all;
    text-decoration: none;
    background: #aaa;
    text-align: center;
    border: 1px solid #aaa;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 100%;
    max-width: initial; }
    @media (min-width: 769px) {
      .listSection .deleteBtn:hover {
        background: #fff;
        color: #aaa;
        border: 1px solid #aaa;
        -webkit-box-shadow: none;
        box-shadow: none; } }
  .listSection .heading {
    font-size: 20px;
    font-size: 2rem;
    margin-bottom: 12px;
    position: relative;
    padding-left: 0.5em; }
    .listSection .heading:before {
      content: "";
      content: "";
      border-left: 3px solid #1B8EE4;
      width: 3px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      /* style */ }

.customerList {
  overflow: scroll; }
  .customerList .flexWrap {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    .customerList .flexWrap > div {
      width: 150px; }
    .customerList .flexWrap input, .customerList .flexWrap select {
      width: 100%; }

@media (max-width: 768px) {
  .customerList .flexBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .customerList .flexBody .no1 {
      width: 20%;
      display: block; }
    .customerList .flexBody .no2 {
      width: 80%;
      display: block; }
    .customerList .flexBody > div {
      width: 100%;
      display: none; }
  .customerList .flexWrap {
    width: 100%; } }

.formSection dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.formSection dt, .formSection dd {
  padding: 16px; }

.formSection dt {
  width: 200px;
  border-bottom: 1px solid #1B8EE4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.formSection dd {
  border-bottom: 1px solid #ddd;
  width: calc(100% - 200px); }

.formSection .btnWrap {
  margin-top: 50px; }

.formSection .sendBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  word-break: break-all;
  text-decoration: none;
  background: #1B8EE4;
  text-align: center;
  border: 1px solid #1B8EE4;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: auto;
  width: 200px;
  max-width: initial;
  padding: 16px; }
  @media (min-width: 769px) {
    .formSection .sendBtn:hover {
      background: #fff;
      color: #1B8EE4;
      border: 1px solid #1B8EE4;
      -webkit-box-shadow: none;
      box-shadow: none; } }

.formSection .errorMessage {
  font-size: 14px;
  font-size: 1.4rem;
  color: red;
  margin-top: 0.2em; }

.formSection .inputFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .formSection .inputFlex input {
    width: auto;
    margin-right: 2px; }

.formSection .checkBoxWrap input, .formSection .checkBoxWrap label {
  cursor: pointer; }

.formSection .dateBlock [name="date_year"] {
  max-width: 100px;
  margin-right: 4px; }

.formSection .dateBlock [name="date_month"] {
  max-width: 80px;
  margin-right: 4px;
  margin-left: 16px; }

.formSection .dateBlock [name="date_day"] {
  margin-right: 4px;
  margin-left: 16px;
  max-width: 80px; }

@media (max-width: 768px) {
  .formSection dt, .formSection dd {
    padding: 12px 0; }
  .formSection dt {
    width: 100%;
    border-bottom: 0;
    padding-bottom: 0; }
  .formSection dd {
    border-bottom: 1px solid #ddd;
    width: calc(100%);
    padding-top: 8px; } }

main .editBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  word-break: break-all;
  text-decoration: none;
  background: #1B8EE4;
  text-align: center;
  border: 1px solid #1B8EE4;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  max-width: initial; }
  @media (min-width: 769px) {
    main .editBtn:hover {
      background: #fff;
      color: #1B8EE4;
      border: 1px solid #1B8EE4;
      -webkit-box-shadow: none;
      box-shadow: none; } }

main .deleteBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  word-break: break-all;
  text-decoration: none;
  background: #aaa;
  text-align: center;
  border: 1px solid #aaa;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  max-width: initial; }
  @media (min-width: 769px) {
    main .deleteBtn:hover {
      background: #fff;
      color: #aaa;
      border: 1px solid #aaa;
      -webkit-box-shadow: none;
      box-shadow: none; } }

main .searchBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  word-break: break-all;
  text-decoration: none;
  background: #71BB15;
  text-align: center;
  border: 1px solid #71BB15;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  height: 100%;
  max-width: initial; }
  @media (min-width: 769px) {
    main .searchBtn:hover {
      background: #fff;
      color: #71BB15;
      border: 1px solid #71BB15;
      -webkit-box-shadow: none;
      box-shadow: none; } }

main .cloneBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  word-break: break-all;
  text-decoration: none;
  background: #000;
  text-align: center;
  border: 1px solid #000;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  max-width: 200px;
  height: 100%; }
  @media (min-width: 769px) {
    main .cloneBtn:hover {
      background: #fff;
      color: #000;
      border: 1px solid #000;
      -webkit-box-shadow: none;
      box-shadow: none; } }

main .detailBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  word-break: break-all;
  text-decoration: none;
  background: #fff;
  text-align: center;
  border: 1px solid #fff;
  color: #1B8EE4;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%; }
  @media (min-width: 769px) {
    main .detailBtn:hover {
      background: #1B8EE4;
      color: #fff;
      border: 1px solid #fff;
      -webkit-box-shadow: none;
      box-shadow: none; } }
  main .detailBtn a {
    border: 1px solid #1B8EE4;
    color: #1B8EE4;
    line-height: 1em;
    padding: 4px; }
    @media (min-width: 769px) {
      main .detailBtn a:hover {
        /* style */
        color: #fff; } }

.addBtnBlock {
  margin-top: 32px; }
  .addBtnBlock .addbtnWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .addBtnBlock .addbtn {
    margin-right: 16px; }
    .addBtnBlock .addbtn a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      word-break: break-all;
      text-decoration: none;
      background: #fff;
      text-align: center;
      border: 1px solid #fff;
      color: #1B8EE4;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      @media (min-width: 769px) {
        .addBtnBlock .addbtn a:hover {
          background: #1B8EE4;
          color: #fff;
          border: 1px solid #fff;
          -webkit-box-shadow: none;
          box-shadow: none; } }
    .addBtnBlock .addbtn a {
      border: 1px solid #1B8EE4;
      max-width: 150px;
      padding: 8px 16px; }

.searchBlock {
  margin-top: 32px; }
  .searchBlock form {
    border: 1px solid #ddd;
    padding: 16px;
    background-color: #eee; }
  .searchBlock .flex .flex4 {
    width: 100px;
    margin-right: 8px; }
  .searchBlock select {
    width: 100%;
    background-color: #fff; }

.cloneBlock {
  margin-top: 50px;
  border-top: 1px solid #aaa;
  padding-top: 50px; }
  .cloneBlock form {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .cloneBlock form .flex3 {
      margin-right: 8px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .cloneBlock form input {
      background-color: #fff;
      max-width: 70px; }

.inner_pad {
  padding: 8px 16px; }

main {
  margin-bottom: 70px; }
  main .strong {
    color: #ef7520;
    font-weight: 700; }
  main input, main textarea {
    width: 100%;
    font-size: 14px;
    font-size: 1.4rem;
    border: 1px solid #ddd;
    line-height: 1.5em;
    padding: 4px 8px;
    line-height: 1em;
    background-color: #eee; }
  main select {
    border: 1px solid #ddd;
    padding: 4px 8px;
    line-height: 1em;
    cursor: pointer; }

.mainHeading {
  background-color: #fff;
  margin-bottom: 32px; }
  .mainHeading h2 {
    color: #000;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1em; }
