@charset "UTF-8";
@font-face {
  font-family: "rodinb";
  font-display: swap;
  src: url("/common/font/rodin-b.woff") format("woff"), url("/common/font/rodin-b.otf") format("truetype");
}
.pre-line {
  white-space: pre-line;
}

.break_word {
  word-wrap: break-word;
}

.break_all {
  word-break: break-all;
}

.listSection {
  margin-top: 20px;
}
.listSection > ul {
  width: auto;
}
.listSection > ul > li {
  line-height: 1.3em;
}
.listSection [type="text"] {
  height: 100%;
}
.listSection .flexWrap .pcBlock {
  display: flex;
  background-color: #fff;
  padding: 24px;
  align-items: center;
}
@media (min-width: 769px) {
  .listSection .flexWrap .pcBlock .hiddenName {
    display: none;
  }
}
@media (min-width: 769px) {
  .listSection .flexWrap .mbBlock {
    display: none;
  }
}
.listSection .flexBodyWrap {
  border-top: 1px solid #EFF3F6;
}
.listSection .editBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  text-decoration: none;
  background: #1B8EE4;
  text-align: center;
  border: 1px solid #1B8EE4;
  color: #fff;
  transition: all 0.5s ease;
  max-width: fit-content;
  width: fit-content;
  padding: 8px 12px;
  line-height: 1em;
  max-width: initial;
}
@media (min-width: 769px) {
  .listSection .editBtn:hover {
    background: #fff;
    color: #1B8EE4;
    border: 1px solid #1B8EE4;
    box-shadow: none;
  }
}
.listSection .editBtn a, .listSection .editBtn a:visited {
  color: #fff !important;
}
.listSection .deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  text-decoration: none;
  background: #aaa;
  text-align: center;
  border: 1px solid #aaa;
  color: #fff;
  transition: all 0.5s ease;
  max-width: fit-content;
  width: 100%;
  max-width: initial;
}
@media (min-width: 769px) {
  .listSection .deleteBtn:hover {
    background: #fff;
    color: #aaa;
    border: 1px solid #aaa;
    box-shadow: none;
  }
}
.listSection .heading {
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 12px;
  position: relative;
  padding-left: 0.5em;
}
.listSection .heading:before {
  content: "";
  content: "";
  border-left: 3px solid #1B8EE4;
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  /* style */
}
.listSection .icon_wrap {
  display: flex;
  align-items: center;
}
.listSection .icon_wrap span {
  margin-right: 4px;
}
.listSection .icon_wrap i {
  position: relative;
  top: -1px;
}
.listSection a, .listSection a:visited {
  display: inline-block;
  color: #004fc6;
}
.listSection a:visited, .listSection a:visited:visited {
  color: #004fc6;
}
@media (min-width: 769px) {
  .listSection a:hover, .listSection a:visited:hover {
    color: #888;
    transition-duration: 0.5s;
  }
}

@media (max-width: 768px) {
  .listSection .flexWrap .pcBlock [type="text"], .listSection .flexWrap .pcBlock textarea {
    background-color: #fff;
  }
  .listSection .flexWrap .pcBlock [type="submit"] {
    width: auto;
  }
}
.productList .flexWrap .pcBlock input, .productList .flexWrap .pcBlock textarea {
  padding: 4px 8px;
  height: 100%;
  width: 100%;
}
.productList .flexWrap .pcBlock textarea {
  height: 80px;
}
@media (max-width: 768px) {
  .productList .flexWrap .pcBlock {
    display: none;
  }
}
@media (min-width: 769px) {
  .productList .flexWrap .pcBlock > div {
    display: flex;
    padding-right: 12px;
  }
  .productList .flexWrap .pcBlock > div:nth-last-of-type(1) {
    padding-right: 0;
  }
  .productList .flexWrap .pcBlock > div:nth-of-type(1) {
    width: 15%;
  }
  .productList .flexWrap .pcBlock > div:nth-of-type(2) {
    width: 15%;
  }
  .productList .flexWrap .pcBlock > div:nth-of-type(3) {
    width: 10%;
  }
  .productList .flexWrap .pcBlock > div:nth-of-type(4) {
    width: 15%;
  }
  .productList .flexWrap .pcBlock > div:nth-of-type(5) {
    width: 29%;
  }
  .productList .flexWrap .pcBlock > div:nth-of-type(6) {
    width: 8%;
  }
  .productList .flexWrap .pcBlock > div:nth-of-type(7) {
    width: 8%;
  }
}

.productOptionList .flexWrap .pcBlock input, .productOptionList .flexWrap .pcBlock textarea {
  padding: 4px 8px;
  height: 100%;
  width: 100%;
}
.productOptionList .flexWrap .pcBlock textarea {
  height: 80px;
}
@media (max-width: 768px) {
  .productOptionList .flexWrap .pcBlock {
    display: none;
  }
}
@media (min-width: 769px) {
  .productOptionList .flexWrap .pcBlock > div {
    display: flex;
    padding-right: 12px;
  }
  .productOptionList .flexWrap .pcBlock > div:nth-last-of-type(1) {
    padding-right: 0;
  }
  .productOptionList .flexWrap .pcBlock > div:nth-of-type(1) {
    width: 15%;
  }
  .productOptionList .flexWrap .pcBlock > div:nth-of-type(2) {
    width: 15%;
  }
  .productOptionList .flexWrap .pcBlock > div:nth-of-type(3) {
    width: 10%;
  }
  .productOptionList .flexWrap .pcBlock > div:nth-of-type(4) {
    width: 15%;
  }
  .productOptionList .flexWrap .pcBlock > div:nth-of-type(5) {
    width: 29%;
  }
  .productOptionList .flexWrap .pcBlock > div:nth-of-type(6) {
    width: 8%;
  }
  .productOptionList .flexWrap .pcBlock > div:nth-of-type(7) {
    width: 8%;
  }
}

@media (max-width: 768px) {
  .orderList .flexWrap .pcBlock {
    display: none;
  }
}
@media (min-width: 769px) {
  .orderList .flexWrap .pcBlock > div {
    padding-right: 12px;
  }
  .orderList .flexWrap .pcBlock > div:nth-last-of-type(1) {
    padding-right: 0;
  }
  .orderList .flexWrap .pcBlock > div:nth-of-type(1) {
    width: 20%;
  }
  .orderList .flexWrap .pcBlock > div:nth-of-type(2) {
    width: 15%;
  }
  .orderList .flexWrap .pcBlock > div:nth-of-type(3) {
    width: 15%;
  }
  .orderList .flexWrap .pcBlock > div:nth-of-type(4) {
    width: 10%;
  }
  .orderList .flexWrap .pcBlock > div:nth-of-type(5) {
    width: 10%;
  }
  .orderList .flexWrap .pcBlock > div:nth-of-type(6) {
    width: 10%;
  }
  .orderList .flexWrap .pcBlock > div:nth-of-type(7) {
    width: 10%;
  }
  .orderList .flexWrap .pcBlock > div:nth-of-type(8) {
    width: 10%;
  }
}
.orderList .icon_list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.orderList .icon_list > li {
  margin-left: 16px;
}
.orderList .icon_list > li:nth-last-of-type(1) {
  margin-right: 0;
}
.orderList .icon_list button {
  display: flex;
  align-items: center;
}

.personList .flexWrap .pcBlock input, .personList .flexWrap .pcBlock textarea {
  padding: 4px 8px;
  height: 100%;
  width: 100%;
}
.personList .flexWrap .pcBlock textarea {
  height: 80px;
}
@media (max-width: 768px) {
  .personList .flexWrap .pcBlock {
    display: none;
  }
}
@media (min-width: 769px) {
  .personList .flexWrap .pcBlock > div {
    display: flex;
    padding-right: 12px;
  }
  .personList .flexWrap .pcBlock > div:nth-last-of-type(1) {
    padding-right: 0;
  }
  .personList .flexWrap .pcBlock > div:nth-of-type(1) {
    width: 20%;
  }
  .personList .flexWrap .pcBlock > div:nth-of-type(2) {
    width: 15%;
  }
  .personList .flexWrap .pcBlock > div:nth-of-type(3) {
    width: 20%;
  }
  .personList .flexWrap .pcBlock > div:nth-of-type(4) {
    width: 10%;
  }
  .personList .flexWrap .pcBlock > div:nth-of-type(5) {
    width: 10%;
  }
  .personList .flexWrap .pcBlock > div:nth-of-type(6) {
    width: 10%;
  }
}

@media (max-width: 768px) {
  .personList .flexWrap .pcBlock [type="text"] {
    background-color: #fff;
  }
  .personList .flexWrap .pcBlock [type="submit"] {
    width: auto;
  }
}
.reserveList .pcBlock .btnFlex {
  margin-top: 24px;
  margin-bottom: 24px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.reserveList .pcBlock .btnFlex .btnFlex4 {
  margin-left: 16px;
}
.reserveList .pcBlock .btnFlex .number1 .icon_wrap, .reserveList .pcBlock .btnFlex .number1 a, .reserveList .pcBlock .btnFlex .number1 a:visited, .reserveList .pcBlock .btnFlex .number1 .text_wrap, .reserveList .pcBlock .btnFlex .number2 .icon_wrap, .reserveList .pcBlock .btnFlex .number2 a, .reserveList .pcBlock .btnFlex .number2 a:visited, .reserveList .pcBlock .btnFlex .number2 .text_wrap, .reserveList .pcBlock .btnFlex .number3 .icon_wrap, .reserveList .pcBlock .btnFlex .number3 a, .reserveList .pcBlock .btnFlex .number3 a:visited, .reserveList .pcBlock .btnFlex .number3 .text_wrap {
  position: relative;
  cursor: pointer;
  color: #fff;
  background-color: #1c8ee3;
  border: 1px solid #1c8ee3;
  line-height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserveList .pcBlock .btnFlex .number1 .icon_wrap:hover, .reserveList .pcBlock .btnFlex .number1 a:hover, .reserveList .pcBlock .btnFlex .number1 a:visited:hover, .reserveList .pcBlock .btnFlex .number1 .text_wrap:hover, .reserveList .pcBlock .btnFlex .number2 .icon_wrap:hover, .reserveList .pcBlock .btnFlex .number2 a:hover, .reserveList .pcBlock .btnFlex .number2 a:visited:hover, .reserveList .pcBlock .btnFlex .number2 .text_wrap:hover, .reserveList .pcBlock .btnFlex .number3 .icon_wrap:hover, .reserveList .pcBlock .btnFlex .number3 a:hover, .reserveList .pcBlock .btnFlex .number3 a:visited:hover, .reserveList .pcBlock .btnFlex .number3 .text_wrap:hover {
  background-color: #fff;
  color: #1c8ee3;
  border: 1px solid #1c8ee3;
  transition-duration: 0.5s;
}
.reserveList .pcBlock .btnFlex .number1 .icon_wrap, .reserveList .pcBlock .btnFlex .number2 .icon_wrap {
  border-radius: 50px;
  padding: 8px;
  width: 45px;
  height: 45px;
}
.reserveList .pcBlock .btnFlex .number1 i, .reserveList .pcBlock .btnFlex .number2 i {
  font-size: 24px;
  font-size: 2.4rem;
}
.reserveList .pcBlock .btnFlex .number3 i, .reserveList .pcBlock .btnFlex .number4 i {
  margin-left: 4px;
  font-size: 14px;
  font-size: 1.4rem;
}
.reserveList .pcBlock .btnFlex .number3 .text_wrap {
  cursor: pointer;
  padding: 12px 16px;
  margin-left: 16px;
}
.reserveList .pcBlock .btnFlex .number4 button {
  position: relative;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  padding: 12px 16px;
  line-height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 769px) {
  .reserveList .pcBlock .btnFlex .number4 button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition-duration: 0.5s;
  }
}

.reserveList .flexBodyWrap {
  margin-bottom: 32px;
}
.reserveList .flexWrap .countHead {
  background-color: #000;
  color: #fff;
  line-height: 1em;
  padding: 16px 24px;
}
@media (max-width: 768px) {
  .reserveList .flexWrap .pcBlock {
    display: none;
  }
}
@media (min-width: 769px) {
  .reserveList .flexWrap .pcBlock .flex {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    width: 100%;
  }
  .reserveList .flexWrap .pcBlock .flex .flex5 {
    position: relative;
  }
  .reserveList .flexWrap .pcBlock .flex .flex5 .title {
    width: 100%;
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    color: #333;
    line-height: 1.7em;
  }
  .reserveList .flexWrap .pcBlock .flex .flex5:nth-of-type(1) {
    width: 15%;
  }
  .reserveList .flexWrap .pcBlock .flex .flex5:nth-of-type(2), .reserveList .flexWrap .pcBlock .flex .flex5:nth-of-type(3) {
    width: 30%;
  }
  .reserveList .flexWrap .pcBlock .flex .flex5:nth-of-type(2) textarea, .reserveList .flexWrap .pcBlock .flex .flex5:nth-of-type(3) textarea {
    height: calc(100% - 32px);
  }
  .reserveList .flexWrap .pcBlock .flex .flex5:nth-of-type(4) {
    width: 20%;
  }
  .reserveList .flexWrap .pcBlock .flex .flex5:nth-of-type(5) {
    width: 100%;
  }
  .reserveList .flexWrap .pcBlock .flex .flex5 .flexBlock {
    margin-bottom: 20px;
  }
  .reserveList .flexWrap .pcBlock .flex .flex5 .flexBlock:nth-last-of-type(1) {
    margin-bottom: 0;
  }
  .reserveList .flexWrap .pcBlock .flex .flex5 textarea {
    height: 100%;
  }
  .reserveList .flexWrap .pcBlock .flex .flex5 select {
    width: 100%;
  }
  .reserveList .flexWrap .pcBlock .flex .flex5 .orders_notice {
    height: 120px;
  }
}
.reserveList .icon_list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.reserveList .icon_list > li {
  margin-left: 16px;
}
.reserveList .icon_list > li:nth-last-of-type(1) {
  margin-right: 0;
}
.reserveList .icon_list button {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .reserveList .pcBlock .flex {
    flex-wrap: wrap;
  }
  .reserveList .pcBlock .flex5 {
    width: 100%;
  }
  .reserveList .pcBlock .flex5 .flexBlock {
    margin-bottom: 24px;
  }
  .reserveList .pcBlock .flex5 select {
    background: #fff;
  }
  .reserveList .pcBlock .no2 textarea, .reserveList .pcBlock .no3 textarea {
    margin-bottom: 24px;
    height: 200px;
  }
  .reserveList .pcBlock .no4 textarea {
    height: 130px;
  }
  .reserveList .pcBlock .title {
    width: 100%;
    font-weight: 700;
    display: block;
  }
  .reserveList .pcBlock a {
    display: block;
  }
}
@media (max-width: 480px) {
  .reserveList .pcBlock .btnFlex {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 12px;
  }
  .reserveList .pcBlock .btnFlex .btnFlex4 {
    width: 100%;
    margin: 0;
  }
  .reserveList .pcBlock .btnFlex .number1, .reserveList .pcBlock .btnFlex .number2 {
    width: calc(50% - 10px);
  }
  .reserveList .pcBlock .btnFlex .number1 .icon_wrap, .reserveList .pcBlock .btnFlex .number2 .icon_wrap {
    margin: auto;
  }
  .reserveList .pcBlock .btnFlex .number4, .reserveList .pcBlock .btnFlex .number3 {
    margin-top: 32px;
    width: 100%;
  }
  .reserveList .pcBlock .btnFlex .number4 button, .reserveList .pcBlock .btnFlex .number4 .text_wrap, .reserveList .pcBlock .btnFlex .number3 button, .reserveList .pcBlock .btnFlex .number3 .text_wrap {
    width: 100%;
    margin: auto;
    max-width: 200px;
    padding: 12px 16px;
    font-size: 14px;
    font-size: 1.4rem;
  }
}
.shipsList .pcBlock #address_block {
  height: 120px;
}
.shipsList .pcBlock .btnFlex {
  margin-top: 24px;
  margin-bottom: 24px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.shipsList .pcBlock .btnFlex .btnFlex4 {
  margin-left: 16px;
}
.shipsList .pcBlock .btnFlex .number1 .icon_wrap, .shipsList .pcBlock .btnFlex .number1 a, .shipsList .pcBlock .btnFlex .number1 a:visited, .shipsList .pcBlock .btnFlex .number1 .text_wrap, .shipsList .pcBlock .btnFlex .number2 .icon_wrap, .shipsList .pcBlock .btnFlex .number2 a, .shipsList .pcBlock .btnFlex .number2 a:visited, .shipsList .pcBlock .btnFlex .number2 .text_wrap, .shipsList .pcBlock .btnFlex .number3 .icon_wrap, .shipsList .pcBlock .btnFlex .number3 a, .shipsList .pcBlock .btnFlex .number3 a:visited, .shipsList .pcBlock .btnFlex .number3 .text_wrap {
  position: relative;
  cursor: pointer;
  color: #fff;
  background-color: #1c8ee3;
  border: 1px solid #1c8ee3;
  line-height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shipsList .pcBlock .btnFlex .number1 .icon_wrap:hover, .shipsList .pcBlock .btnFlex .number1 a:hover, .shipsList .pcBlock .btnFlex .number1 a:visited:hover, .shipsList .pcBlock .btnFlex .number1 .text_wrap:hover, .shipsList .pcBlock .btnFlex .number2 .icon_wrap:hover, .shipsList .pcBlock .btnFlex .number2 a:hover, .shipsList .pcBlock .btnFlex .number2 a:visited:hover, .shipsList .pcBlock .btnFlex .number2 .text_wrap:hover, .shipsList .pcBlock .btnFlex .number3 .icon_wrap:hover, .shipsList .pcBlock .btnFlex .number3 a:hover, .shipsList .pcBlock .btnFlex .number3 a:visited:hover, .shipsList .pcBlock .btnFlex .number3 .text_wrap:hover {
  background-color: #fff;
  color: #1c8ee3;
  border: 1px solid #1c8ee3;
  transition-duration: 0.5s;
}
.shipsList .pcBlock .btnFlex .number3 i, .shipsList .pcBlock .btnFlex .number4 i {
  margin-left: 4px;
  font-size: 14px;
  font-size: 1.4rem;
}
.shipsList .pcBlock .btnFlex .number3 .text_wrap {
  cursor: pointer;
  padding: 12px 16px;
  margin-left: 16px;
}
.shipsList .pcBlock .btnFlex .number4 button, .shipsList .pcBlock .btnFlex .number5 button {
  position: relative;
  color: #fff;
  background-color: #c70000;
  border: 1px solid #c70000;
  padding: 12px 16px;
  line-height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 769px) {
  .shipsList .pcBlock .btnFlex .number4 button:hover, .shipsList .pcBlock .btnFlex .number5 button:hover {
    background-color: #fff;
    color: #c70000;
    border: 1px solid #c70000;
    transition-duration: 0.5s;
  }
}
.shipsList .pcBlock .btnFlex .number5 button {
  color: #fff;
  background-color: #e96700;
  border: 1px solid #e96700;
}
@media (min-width: 769px) {
  .shipsList .pcBlock .btnFlex .number5 button:hover {
    background-color: #fff;
    color: #e96700;
    border: 1px solid #e96700;
  }
}

.shipsList .flexBodyWrap {
  margin-bottom: 32px;
}
.shipsList .flexWrap .countHead {
  background-color: #000;
  color: #fff;
  line-height: 1em;
  padding: 16px 24px;
}
@media (max-width: 768px) {
  .shipsList .flexWrap .pcBlock {
    display: none;
  }
}
@media (min-width: 769px) {
  .shipsList .flexWrap .pcBlock .flex {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    width: 100%;
  }
  .shipsList .flexWrap .pcBlock .flex .flex5 {
    position: relative;
  }
  .shipsList .flexWrap .pcBlock .flex .flex5 .title {
    width: 100%;
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    color: #333;
    line-height: 1.7em;
  }
  .shipsList .flexWrap .pcBlock .flex .flex5:nth-of-type(1) {
    width: 15%;
  }
  .shipsList .flexWrap .pcBlock .flex .flex5:nth-of-type(2), .shipsList .flexWrap .pcBlock .flex .flex5:nth-of-type(3) {
    width: 30%;
  }
  .shipsList .flexWrap .pcBlock .flex .flex5:nth-of-type(2) textarea, .shipsList .flexWrap .pcBlock .flex .flex5:nth-of-type(3) textarea {
    height: calc(100% - 32px);
  }
  .shipsList .flexWrap .pcBlock .flex .flex5:nth-of-type(4) {
    width: 20%;
  }
  .shipsList .flexWrap .pcBlock .flex .flex5:nth-of-type(5) {
    width: 100%;
  }
  .shipsList .flexWrap .pcBlock .flex .flex5 .flexBlock {
    margin-bottom: 20px;
  }
  .shipsList .flexWrap .pcBlock .flex .flex5 .flexBlock:nth-last-of-type(1) {
    margin-bottom: 0;
  }
  .shipsList .flexWrap .pcBlock .flex .flex5 textarea {
    height: 100%;
  }
  .shipsList .flexWrap .pcBlock .flex .flex5 select {
    width: 100%;
  }
  .shipsList .flexWrap .pcBlock .flex .flex5 .ships_notice {
    height: 120px;
  }
}
.shipsList .icon_list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.shipsList .icon_list > li {
  margin-left: 16px;
}
.shipsList .icon_list > li:nth-last-of-type(1) {
  margin-right: 0;
}
.shipsList .icon_list button {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .shipsList .pcBlock .flex {
    flex-wrap: wrap;
  }
  .shipsList .pcBlock .flex5 {
    width: 100%;
  }
  .shipsList .pcBlock .flex5 .flexBlock {
    margin-bottom: 24px;
  }
  .shipsList .pcBlock .flex5 select {
    background: #fff;
  }
  .shipsList .pcBlock .no2 textarea, .shipsList .pcBlock .no3 textarea {
    margin-bottom: 24px;
    height: 200px;
  }
  .shipsList .pcBlock .no4 textarea {
    height: 130px;
  }
  .shipsList .pcBlock .title {
    width: 100%;
    font-weight: 700;
    display: block;
  }
  .shipsList .pcBlock a {
    display: block;
  }
}
@media (max-width: 480px) {
  .shipsList .pcBlock .btnFlex {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 12px;
  }
  .shipsList .pcBlock .btnFlex .btnFlex4 {
    width: 100%;
    margin: 0;
  }
  .shipsList .pcBlock .btnFlex .number1, .shipsList .pcBlock .btnFlex .number2 {
    width: calc(50% - 10px);
  }
  .shipsList .pcBlock .btnFlex .number1 .icon_wrap, .shipsList .pcBlock .btnFlex .number2 .icon_wrap {
    margin: auto;
  }
  .shipsList .pcBlock .btnFlex .number4, .shipsList .pcBlock .btnFlex .number3 {
    margin-top: 32px;
    width: 100%;
  }
  .shipsList .pcBlock .btnFlex .number4 button, .shipsList .pcBlock .btnFlex .number4 .text_wrap, .shipsList .pcBlock .btnFlex .number3 button, .shipsList .pcBlock .btnFlex .number3 .text_wrap {
    width: 100%;
    margin: auto;
    max-width: 200px;
    padding: 12px 16px;
    font-size: 14px;
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  .customerList .flexWrap .pcBlock {
    display: none;
  }
}
@media (min-width: 769px) {
  .customerList .flexWrap .pcBlock > div {
    width: 25%;
    padding-right: 12px;
  }
  .customerList .flexWrap .pcBlock > div:nth-last-of-type(1) {
    padding-right: 0;
  }
}
.customerList .icon_list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.customerList .icon_list > li {
  margin-left: 16px;
}
.customerList .icon_list > li:nth-last-of-type(1) {
  margin-right: 0;
}
.customerList .icon_list button {
  display: flex;
  align-items: center;
}

.modalWindow {
  display: none;
}
.modalWindow.show {
  display: block;
}
.modalWindow .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}
.modalWindow .inner {
  padding: 32px;
  background-color: #fff;
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: 100%;
}
.modalWindow .title {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 8px;
}
.modalWindow .show_area {
  font-size: 14px;
  font-size: 1.4rem;
  padding: 16px;
  line-height: 1.5em;
  max-height: 300px;
  height: calc(100% - 50px);
  overflow: scroll;
  border: 1px solid #aaa;
  background-color: #eee;
}
.modalWindow li {
  list-style: disc;
  line-height: 1.5em;
  margin-left: 1em;
}
.modalWindow p {
  line-height: 1.2em;
}
.modalWindow .notice {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.3em;
  position: relative;
  padding-left: 1em;
  margin-bottom: 8px;
}
.modalWindow .notice span {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  /* style */
}
.modalWindow .closeBtn {
  margin: auto;
  margin-top: 16px;
  cursor: pointer;
  position: relative;
  color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  background-color: #888;
  border: 1px solid #888;
  padding: 8px 12px;
  line-height: 1em;
  display: flex;
  max-width: 150px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 769px) {
  .modalWindow .closeBtn:hover {
    background-color: #fff;
    color: #888;
    border: 1px solid #888;
    transition-duration: 0.5s;
  }
}

/*--------------------------------------------------- */
/* orderList */
/*--------------------------------------------------- */
.orderList .modalWindow .inner {
  max-width: calc(80% - 50px);
  max-height: calc(80% - 50px);
}
.orderList .modalWindow .flex {
  justify-content: space-between;
}
.orderList .modalWindow .flex2 {
  width: calc(50% - 16px);
}
.orderList .modalWindow .show_area {
  max-height: 300px;
  height: calc(100% - 50px);
}

@media (max-width: 768px) {
  .listSection .flexWrap .tabInvi {
    display: none !important;
  }
  .listSection .flexWrap .mbBlock {
    display: flex;
    background-color: #fff;
    padding: 24px;
    align-items: center;
  }
  .listSection .flexWrap .mbBlock .fa-circle-chevron-up {
    display: none;
  }
  .listSection .flexWrap .mbBlock > div, .listSection .flexWrap .mbBlock > ul {
    width: 33.33%;
  }
  .listSection .flexWrap .mbBlock > div:nth-last-of-type(1), .listSection .flexWrap .mbBlock .no3:nth-last-of-type(1) {
    text-align: right;
    width: 20px;
    margin-left: auto;
  }
  .listSection .flexWrap .selected_mb {
    background-color: #333;
    color: #fff;
  }
  .listSection .flexWrap .selected_mb .fa-circle-chevron-down {
    display: none;
  }
  .listSection .flexWrap .selected_mb .fa-circle-chevron-up {
    display: block;
    color: #fff;
  }
  .listSection .flexWrap .pcBlock {
    background-color: #eeeeee;
    border: 1px solid #ddd;
  }
  .listSection .flexWrap .pcBlock > div {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px dotted #aaa;
  }
  .listSection .flexWrap .pcBlock > div:nth-last-of-type(1) {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .listSection .flexWrap .pcBlock .hiddenName {
    font-weight: 700;
    margin-bottom: 4px;
  }
}
@media (max-width: 480px) {
  .listSection .flexWrap .mbBlock {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .listSection .flexWrap .mbBlock > div, .listSection .flexWrap .mbBlock > ul {
    padding-right: 8px;
  }
  .listSection .flexWrap .pcBlock {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
.formSection {
  background-color: #fff;
}
.formSection > .inner {
  padding: 0px 20px 40px;
}
.formSection [type="text"], .formSection select, .formSection [type="number"], .formSection textarea {
  background-color: #f5f5f5;
  border: 1px solid #aaa;
  padding: 8px;
  line-height: 1.5em;
}
.formSection .textarea1 {
  height: 300px;
}
.formSection .textarea2 {
  height: 120px;
}
.formSection dl {
  display: flex;
  flex-wrap: wrap;
}
.formSection dt, .formSection dd {
  padding: 20px;
}
.formSection dt {
  width: 200px;
  border-bottom: 1px solid #1B8EE4;
  display: flex;
  align-items: center;
  font-weight: 400;
}
.formSection dd {
  border-bottom: 1px solid #ddd;
  width: calc(100% - 200px);
}
.formSection .btnWrap {
  margin-top: 50px;
}
.formSection .sendBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  text-decoration: none;
  background: #1B8EE4;
  text-align: center;
  border: 1px solid #1B8EE4;
  color: #fff;
  transition: all 0.5s ease;
  max-width: fit-content;
  margin: auto;
  width: 200px;
  max-width: initial;
  padding: 16px;
}
@media (min-width: 769px) {
  .formSection .sendBtn:hover {
    background: #fff;
    color: #1B8EE4;
    border: 1px solid #1B8EE4;
    box-shadow: none;
  }
}
.formSection .errorMessage {
  font-size: 14px;
  font-size: 1.4rem;
  color: red;
  margin-top: 0.2em;
}
.formSection .inputFlex {
  display: flex;
  align-items: center;
}
.formSection .inputFlex input {
  width: auto;
  margin-right: 2px;
}
.formSection .checkBoxWrap input, .formSection .checkBoxWrap label {
  cursor: pointer;
}
.formSection .dateBlock [name="date_year"] {
  max-width: 100px;
  margin-right: 4px;
}
.formSection .dateBlock [name="date_month"] {
  max-width: 80px;
  margin-right: 4px;
  margin-left: 16px;
}
.formSection .dateBlock [name="date_day"] {
  margin-right: 4px;
  margin-left: 16px;
  max-width: 80px;
}
.formSection .deleteWrap {
  margin-top: 32px;
}
.formSection .deleteWrap .delete {
  position: relative;
  color: #fff;
  background-color: #d50000;
  border: 1px solid #d50000;
  padding: 8px 12px;
  max-width: 100px;
  line-height: 1em;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 769px) {
  .formSection .deleteWrap .delete:hover {
    background-color: #fff;
    color: #d50000;
    border: 1px solid #d50000;
    transition-duration: 0.5s;
  }
}

@media (max-width: 768px) {
  .formSection dt, .formSection dd {
    padding: 12px 0;
  }
  .formSection dt {
    width: 100%;
    border-bottom: 0;
    padding-bottom: 0;
  }
  .formSection dd {
    border-bottom: 1px solid #ddd;
    width: calc(100%);
    padding-top: 8px;
  }
}
.detailFrom .price_dd .flex, .addFrom .price_dd .flex {
  justify-content: space-between;
  flex-wrap: wrap;
}
.detailFrom .price_dd .flex .flex4, .addFrom .price_dd .flex .flex4 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.detailFrom .price_dd .flex .flex4 .title, .addFrom .price_dd .flex .flex4 .title {
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem;
}
.detailFrom .price_dd .flex .flex4 input, .detailFrom .price_dd .flex .flex4 select, .addFrom .price_dd .flex .flex4 input, .addFrom .price_dd .flex .flex4 select {
  width: 100%;
}
.detailFrom .price_dd .flex .flex4:nth-of-type(1), .addFrom .price_dd .flex .flex4:nth-of-type(1) {
  width: calc(60% - 100px);
  /* style */
}
.detailFrom .price_dd .flex .flex4:nth-of-type(2), .addFrom .price_dd .flex .flex4:nth-of-type(2) {
  width: 110px;
  display: flex;
  align-items: center;
}
.detailFrom .price_dd .flex .flex4:nth-of-type(2) input, .addFrom .price_dd .flex .flex4:nth-of-type(2) input {
  width: 100px;
}
.detailFrom .price_dd .flex .flex4:nth-of-type(2) span, .addFrom .price_dd .flex .flex4:nth-of-type(2) span {
  margin-left: 4px;
  width: calc(100% - 110px);
}
.detailFrom .price_dd .flex .flex4:nth-of-type(3), .addFrom .price_dd .flex .flex4:nth-of-type(3) {
  width: calc(40% - 80px);
  /* style */
}
.detailFrom .price_dd .flex .flex4:nth-of-type(3) .calcBtn, .addFrom .price_dd .flex .flex4:nth-of-type(3) .calcBtn {
  cursor: pointer;
  width: 100%;
  position: relative;
  color: #fff;
  background-color: #1B8EE4;
  border: 1px solid #1B8EE4;
  padding: 10px 16px;
  line-height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 769px) {
  .detailFrom .price_dd .flex .flex4:nth-of-type(3) .calcBtn:hover, .addFrom .price_dd .flex .flex4:nth-of-type(3) .calcBtn:hover {
    background-color: #fff;
    color: #1B8EE4;
    border: 1px solid #1B8EE4;
    transition-duration: 0.5s;
  }
}
.detailFrom .price_dd .flex .flex4:nth-of-type(4), .addFrom .price_dd .flex .flex4:nth-of-type(4) {
  width: 100%;
  margin-top: 16px;
  /* style */
}

@media (max-width: 768px) {
  .detailFrom.formSection .price_dd .flex, .addFrom.formSection .price_dd .flex {
    justify-content: space-between;
  }
  .detailFrom.formSection .price_dd .flex .flex4, .addFrom.formSection .price_dd .flex .flex4 {
    width: 100%;
  }
  .detailFrom.formSection .price_dd .flex .flex4:nth-of-type(1), .addFrom.formSection .price_dd .flex .flex4:nth-of-type(1) {
    width: calc(50%);
  }
  .detailFrom.formSection .price_dd .flex .flex4:nth-of-type(1) input, .addFrom.formSection .price_dd .flex .flex4:nth-of-type(1) input {
    width: 100%;
  }
  .detailFrom.formSection .price_dd .flex .flex4:nth-of-type(2), .addFrom.formSection .price_dd .flex .flex4:nth-of-type(2) {
    width: calc(50% - 8px);
  }
  .detailFrom.formSection .price_dd .flex .flex4:nth-of-type(2) span, .addFrom.formSection .price_dd .flex .flex4:nth-of-type(2) span {
    width: auto;
  }
  .detailFrom.formSection .price_dd .flex .flex4 input, .detailFrom.formSection .price_dd .flex .flex4 select, .addFrom.formSection .price_dd .flex .flex4 input, .addFrom.formSection .price_dd .flex .flex4 select {
    width: inherit;
    max-width: 200px;
  }
  .detailFrom.formSection .price_dd .flex .flex4:nth-of-type(3), .addFrom.formSection .price_dd .flex .flex4:nth-of-type(3) {
    margin-top: 16px;
    /* style */
  }
  .detailFrom.formSection .price_dd .flex .flex4:nth-of-type(4), .addFrom.formSection .price_dd .flex .flex4:nth-of-type(4) {
    width: 50%;
    /* style */
  }
  .detailFrom.formSection .price_dd .flex .flex4:nth-of-type(4) input, .addFrom.formSection .price_dd .flex .flex4:nth-of-type(4) input {
    width: 100%;
  }
}
/*--------------------------------------------------- */
/* 各種ボタン系 */
/*--------------------------------------------------- */
main .commonBtnFlex {
  display: flex;
}
main .commonBtnFlex > div {
  margin-right: 8px;
}
main .editBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  text-decoration: none;
  background: #1B8EE4;
  text-align: center;
  border: 1px solid #1B8EE4;
  color: #fff;
  transition: all 0.5s ease;
  max-width: fit-content;
  width: 100%;
  max-width: initial;
}
@media (min-width: 769px) {
  main .editBtn:hover {
    background: #fff;
    color: #1B8EE4;
    border: 1px solid #1B8EE4;
    box-shadow: none;
  }
}
main .deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  text-decoration: none;
  background: #aaa;
  text-align: center;
  border: 1px solid #aaa;
  color: #fff;
  transition: all 0.5s ease;
  max-width: fit-content;
  width: 100%;
  max-width: initial;
}
@media (min-width: 769px) {
  main .deleteBtn:hover {
    background: #fff;
    color: #aaa;
    border: 1px solid #aaa;
    box-shadow: none;
  }
}
main .searchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  text-decoration: none;
  background: #71BB15;
  text-align: center;
  border: 1px solid #71BB15;
  color: #fff;
  transition: all 0.5s ease;
  max-width: fit-content;
  width: 100%;
  height: 100%;
  max-width: initial;
}
@media (min-width: 769px) {
  main .searchBtn:hover {
    background: #fff;
    color: #71BB15;
    border: 1px solid #71BB15;
    box-shadow: none;
  }
}
main .cloneBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  text-decoration: none;
  background: #000;
  text-align: center;
  border: 1px solid #000;
  color: #fff;
  transition: all 0.5s ease;
  max-width: fit-content;
  width: 100%;
  max-width: 200px;
  height: 100%;
}
@media (min-width: 769px) {
  main .cloneBtn:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
    box-shadow: none;
  }
}
main .detailBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  text-decoration: none;
  background: #fff;
  text-align: center;
  border: 1px solid #fff;
  color: #1B8EE4;
  transition: all 0.5s ease;
  max-width: fit-content;
  width: 100%;
}
@media (min-width: 769px) {
  main .detailBtn:hover {
    background: #1B8EE4;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: none;
  }
}
main .detailBtn a {
  border: 1px solid #1B8EE4;
  color: #1B8EE4;
  line-height: 1em;
  padding: 4px;
}
@media (min-width: 769px) {
  main .detailBtn a:hover {
    /* style */
    color: #fff;
  }
}
main .backBlock {
  margin-bottom: 20px;
}
main .backListBtn a {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  width: fit-content;
  text-decoration: none;
  background: #fff;
  text-align: center;
  border: 1px solid #fff;
  color: #888;
  transition: all 0.5s ease;
}
@media (min-width: 769px) {
  main .backListBtn a:hover {
    background: #888;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: none;
  }
}
main .backListBtn a {
  padding: 6px 16px;
  border: 1px solid #888;
  position: relative;
}
main .backBtn a {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  width: fit-content;
  text-decoration: none;
  background: #888;
  text-align: center;
  border: 1px solid #888;
  color: #fff;
  transition: all 0.5s ease;
}
@media (min-width: 769px) {
  main .backBtn a:hover {
    background: #fff;
    color: #888;
    border: 1px solid #888;
    box-shadow: none;
  }
}
main .backBtn a {
  padding: 6px 16px;
  border: 1px solid #888;
  position: relative;
}
main .backBtn a:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 700;
  margin-right: 4px;
  /* style */
}
main .addbtnWrap, main .commonBtn {
  display: flex;
}
main .addbtn, main .commonBtn {
  margin-right: 16px;
}
main .addbtn a, main .commonBtn a {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  width: fit-content;
  text-decoration: none;
  background: #fff;
  text-align: center;
  border: 1px solid #fff;
  color: #1B8EE4;
  transition: all 0.5s ease;
}
@media (min-width: 769px) {
  main .addbtn a:hover, main .commonBtn a:hover {
    background: #1B8EE4;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: none;
  }
}
main .addbtn a, main .commonBtn a {
  border: 1px solid #1B8EE4;
  max-width: 150px;
  padding: 8px 16px;
}

/*--------------------------------------------------- */
/* 検索ブロック */
/*--------------------------------------------------- */
.searchBlock {
  margin-top: 20px;
}
.searchBlock ul {
  display: flex;
}
.searchBlock ul .li {
  margin-right: 8px;
}
.searchBlock select, .searchBlock [type="text"] {
  width: auto;
  background-color: #fff;
  height: 36px;
  padding: 8px;
}
.searchBlock .search_input [type="text"] {
  width: 200px;
}
.searchBlock .search_input [type="text"]::placeholder {
  color: #949494;
  text-align: right;
}

@media (max-width: 768px) {
  .searchBlock ul {
    display: flex;
    flex-wrap: wrap;
  }
  .searchBlock ul li:nth-of-type(1) {
    width: 100%;
    margin-bottom: 8px;
  }
}
@media (max-width: 480px) {
  .searchBlock ul li {
    margin-bottom: 8px;
  }
  .searchBlock ul li.wid100 {
    width: 100%;
  }
  .searchBlock ul li .input-group {
    width: 100%;
    display: flex;
  }
  .searchBlock ul li .input-group input {
    width: calc(100% - 30px);
  }
  .searchBlock ul li .input-group span {
    width: 30px;
  }
}
/*--------------------------------------------------- */
/* ページネーション */
/*--------------------------------------------------- */
.pagination {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.pagination li {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 4px;
  height: 36px;
  width: 36px;
  justify-content: center;
  line-height: 1em;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-right: 4px;
  font-size: 14px;
  font-size: 1.4rem;
  cursor: pointer;
}
@media (max-width: 480px) {
  .pagination li {
    font-size: 12px;
    font-size: 1.2rem;
  }
}
@media (min-width: 769px) {
  .pagination li:not(.is_active):hover {
    border: 1px solid #1B8EE4;
    color: #1B8EE4;
    transition-duration: 0.3s;
    /* style */
  }
}
.pagination .is_active {
  background-color: #000;
  color: #fff;
}

/*--------------------------------------------------- */
/* 総合料金 */
/*--------------------------------------------------- */
.price_block {
  margin-top: 20px;
}
.price_block .inner {
  border: 1px dotted #aaa;
  padding: 12px;
  line-height: 1em;
  display: inline-block;
}
.price_block .flex3 {
  display: flex;
}
.price_block .flex3:nth-last-of-type(1) {
  margin-left: 0.5em;
  font-weight: 700;
}

/*--------------------------------------------------- */
/* /* ローディング画面 */
/*--------------------------------------------------- */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
  justify-content: center;
  align-items: center;
  display: flex;
  pointer-events: none;
  /* ローディングアニメーション */
}
#loading img {
  width: auto;
}
#loading.close {
  opacity: 0;
  animation: sk-scaleout 1s infinite ease-in-out;
}
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
    display: none;
  }
}
.disabled {
  pointer-events: none;
}

.pointer {
  cursor: pointer;
}

.inner_pad {
  padding: 8px 16px;
}

main {
  margin-bottom: 70px;
}
main * {
  word-break: break-all;
}
main .strong {
  color: #ef7520;
  font-weight: 700;
}
main input, main textarea {
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem;
  border: 1px solid #ddd;
  line-height: 1.5em;
  padding: 4px 8px;
  line-height: 1em;
  background-color: #eee;
}
main select {
  border: 1px solid #ddd;
  padding: 4px 8px;
  line-height: 1em;
  cursor: pointer;
}

.mainHeading {
  background-color: #fff;
}
.mainHeading h2 {
  color: #000;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1em;
}
